/*Personal CSS page:
Robert, feel free change the name if you do remember to change the name of the href in the following, 
just in case you don't remember paste this:
<link rel="stylesheet" type="text/css" href="~/CSSPages/PersonalCSS.css">
This IS linked in the master page.
 I will try to explain each CSS change and class. Feel free to make your own, otherwise you might have to use one of the ones provided or give me an idea of 
 what you want to create in a comment on this page. ~ David
*/

.masterBody 
/*All changes to the master page body will be in here.*/
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#F99FA8;
}
.masterNav 
/*Changes to nav are here*/
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#AF2532;
}
.nav.navbar-nav li a 
/*Overwrite bootstrap at 4522*/
{
   color: #ED707B;
 }
.navbar-inverse .navbar-brand 
/*Overwrite bootstrap at 4391*/
{
    color: #ED707B;
}
.masterFooter
/*Footer CSS*/
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#498A97;
    text-align:center;
    border-color:black;
    border-style:solid;
    border-width:thin;
    color:#0A4C58;
}

.divBody
/*Default CSS*/
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFD0A3;
    border-style:solid;
    border-width:3px;
    border-color:#F5B373;
    border-radius:10px;
    height:300px;
    color: #B56C26;
    padding:8px;
}
.gameImageFrame
/*GamePage Image Frame*/
{

}

.tableFillout
/*Table from Registration/Login Page*/
{
   width:100%;
   border-spacing:10px 50px;
   height:140px;
}
.btn
/*Button*/
{
    color:#FFD0A3;
    background-color:#B56C26;
}
.float
/*Moves button to the top right*/{
    float:right;
}
.hr
/*changes color of HR*/
{
    border-color:#8A0C18;
}
